@import "./variables";
@import "./helpers";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

// variables



// Global Styles

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

// heading

.hero {
  height: 811px;

  position: relative;

  header {
    z-index: 1;

    .items {
      display: flex;
      color: white;
      width: 50%;
      justify-content: space-between;

    }

    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        width: 11.8125rem;

        img {
          width: 100%;
        }
      }

      &-list {


        list-style: none;
        display: flex;
        margin: 0;
        box-sizing: border-box;

        .nav-item {
          margin-inline: 1rem;

          .nav-link {
            text-decoration: none;
            color: inherit;
          }
        }
      }

    }
  }

  .banner {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    &_inner {

      display: flex;
      height: 700px;

      .left {
        flex: 1;
        display: flex;
        align-items: center;

        &_wrapper {
          height: 70%;
          width: 100%;

          &-container {
            width: 548px;
            position: relative;

            p {
              font-size: 3rem;
              font-weight: 900;
              line-height: 58.09px;
            }

            .arrow-curve {
              position: absolute;
              right: 30%;
              bottom: 10%;
            }

          }
        }

      }

      .right {
        background: $primary;
        flex: 1;
        display: flex;
        align-items: center;

        &_wrapper {
          height: 70%;
          width: 100%;
          position: relative;

          img {
            width: 100%;
          }

          .image-1 {
            width: 466px;
            position: absolute;
            left: -7%;
          }

          .image-2 {
            width: 359px;
            position: absolute;
            bottom: 0;
            right: 134px;
          }
        }
      }
    }
  }
}


.reason {
  &_wrapper {
    display: flex;

    .reason_left {
      margin-left: 70px;

      .reason_left_wrapper {
        .greenbox {
          width: 552px;
          height: 635px;
          background-color: $primary;
        }

        .image_left {
          img.image_left {
            position: absolute;
            width: 552px;
            height: 635px;
            margin-top: -42rem;
            margin-left: -30px;
          }
        }

        .play_button {
          img.play_button {

            position: absolute;
            z-index: 1;
            margin-top: -26rem;
            margin-left: 11.5rem;
          }
        }
      }
    }

    .reason_right {
      width: 641px;
      margin-left: 66px;

      &_wrapper {
        .h1 {
          font-family: Inter;
          font-size: 48px;
          font-weight: 700;
          line-height: 58px;
          letter-spacing: 0em;
          text-align: left;
        }

        .right_content {
          p {
            font-family: Inter;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 60px;
          }
        }
      }
    }
  }
}

.report {
  background-color: $primary;
  height: 809px;

  .report_inner {
    text-align: center;

    .report_inner_wrapper {
      .box {
        margin-bottom: -50px;

        p {
          font-family: Inter;
          font-size: 48px;
          font-weight: 700;
          line-height: 58px;
          letter-spacing: 0em;
          text-align: left;
          color: white;
          padding-top: 56px;
          margin-left: 40px;
        }
      }

      .line {
        height: 11px;
        width: 110px;
        margin-left: 40px;
        border-radius: 0px;
        background-color: white;
        margin-bottom: 50px;
      }

      .image_box {

        width: 97%;

        .image_box_wrapper {
          display: flex;
          justify-content: space-evenly;

          .white_box {
            height: 424px;
            width: 300px;
            border-radius: 8px;
            background-color: #fff;
            margin-left: 66px;



            .image {
              height: 207px;
              width: 255px;
              margin-top: 2px;
              margin-left: -1px;
              border-radius: 8px;
              padding-left: 5px;
              display: flex;
            }

            .text_content {
              width: 40vh;
              margin-top: 2px;
              margin-left: 10px;

              .green_text {
                p {
                  font-family: Inter;
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 22px;
                  text-align: left;
                  text-align: left;
                  color: $primary;
                }
              }
            }

            .date {
              p {
                font-family: Inter;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                text-align: right;
                margin-top: -37px;
                margin-right: 6px;
              }
            }

            .black_text {
              p {
                font-family: Inter;
                font-size: 15px;
                font-weight: 400;
                line-height: 18px;
                text-align: left;
              }
            }

            .ogun_text {
              font-family: Inter;
              font-size: 18px;
              font-weight: 500;
              line-height: 22px;
              letter-spacing: 0em;
              text-align: left;
              color: $primary;
              margin-top: 22px;
            }
          }
        }
      }
    }

    button.white {
      width: 259px;
      height: 70px;
      margin-top: 63px;

      p {
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-transform: capitalize;
      }
    }
  }
}

.activities {
  .wrapper {
    margin-left: 70px;

    .header_text {
      width: 660px;

      p {
        font-family: Inter;
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
        letter-spacing: 0em;
        text-align: left;
      }
    }

    .img_section {
      margin-top: 42px;

      .img_top {
        img {
          margin-left: -5px;
        }
      }

      .img_bottom {
        img {
          margin-left: -5px;
          margin-top: -4px;
        }
      }
    }
  }
}

.designer_name {
  // width: 1440px;
  margin-top: 152px;

  border-radius: 0px;

  .name_wrapper {
    background-color: $primary;
    text-align: center;
    color: #fff;
    height: 92px;


    .name_text {
      p {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        padding-top: 43px;

        span {
          font-family: Inter;
          font-size: 16px;
          font-weight: 900;
          line-height: 19px;
          letter-spacing: 0em;
        }
      }
    }
  }
}